.c-discover {
	margin: 2rem;
	&-title {
		font-family: $second-font;
		margin: 0.25rem;
		padding: 0;
	}
	&-price {
		font-weight: bold;
		margin-top: 0;
		padding-top: 0;
	}
	&-more {
		text-decoration: underline;
		text-align: right;
	}

	&-insta {
		display: flex;
		flex-wrap: wrap;
		&-photo {
			width: 12rem;
			height: 12rem;
			border-radius: 0.25rem;
			object-fit: cover;
			& + &-photo {
				padding-right: 1rem;
			}
		}
	}

	&-photos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		&-col {
			flex-grow: 1;
			padding: 0.25rem;

			&:hover &-img {
				opacity: 0.6;
			}
		}
		&-img {
			max-width: 9rem;
			max-height: 16rem;
			border-radius: 1.33rem;
		}
		&-col &-img {
			padding: 0.25rem;
			min-width: 100%;
			object-fit: cover;
			vertical-align: bottom;
		}
	}
}

.c-popup.bg {
	opacity: 0.2;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}
