.c-crumb {
	font-size: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

.c-order {
	&-btn {
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	&-sum {
		&-c {
			display: flex;
			flex-direction: row;
		}
	}
}
