.c-prodlist {
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	&-img {
		height: 5rem;
		width: 4.5rem;
		border-radius: 0.75rem;
		object-fit: cover;
	}
	&-item {
		display: flex;
		margin-bottom: 1.25rem;
	}
	&-info {
		margin-left: 1.5rem;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	&-delete {
		text-decoration: underline;
		cursor: pointer;
	}
	&-sum {
		background-color: var(--xxx-light-grey);
		padding: 1rem 2rem;
		margin-bottom: 1rem;

		&-row {
			display: flex;
			justify-content: space-between;
		}
		&-cap {
			text-transform: capitalize;
		}
	}
	&-btn {
		display: flex;
		width: 100%;
		justify-content: center;
	}
}

.c-prodlist-btn > .c-button {
	width: 100%;
}
